# Data Manipulation using pandas

In [38]:
#Exp 4

In [40]:
#Name:Bharati A. Mahalle
#Roll No.:40
#Sec: C
#Subject:ET - 1

In [42]:
import pandas as pd

In [44]:
import os

In [46]:
os.getcwd()

'C:\\Users\\Bharti\\OneDrive\\Desktop'

In [48]:
os.chdir("C:\\Users\\Bharti\\Onedrive\\Desktop")

In [50]:
df=pd.read_csv("Salary_Data.csv")

In [52]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [54]:
df.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [56]:
df.shape

(30, 2)

In [58]:
df.size

60

In [60]:
df.ndim

2

In [62]:
df.isnull().sum()  # Summarize the number of missing values per column

YearsExperience    0
Salary             0
dtype: int64